<!-- SUB FOOTER SECTION -->
<footer class="bg-black text-white font-['Roboto_Condensed'] pt-12">
    <div class="max-w-7xl mx-auto px-4">
        <!-- Logo & Info -->
        <div class="flex flex-col md:flex-row justify-between items-start md:items-center mb-8">
            <div class="flex items-center space-x-4 mb-4 md:mb-0">
                <img src="assets\image\logo.png" alt="Logo Lorem Ipsum Radio" class="w-16 h-16">
                <div>
                    <h4 class="text-xl font-bold">LOREM IPSUM RADIO</h4>
                    <p class="text-sm leading-tight">Jl. Lorem Ipsum, No. 23, dolor sit amet,<br> consectetur adipiscing elit, 463XX - Indonesia</p>
                </div>
            </div>

            <div class="space-y-2 text-sm">
                <p><i class="fa fa-phone mr-2 text-yellow-400"></i> Nomor Handphone Kantor: +62 812-3456-7890</p>
                <p><i class="fa fa-envelope mr-2 text-yellow-400"></i> Email Kerjasama & Acara: acara@loremradio.id</p>
                <p><i class="fa fa-bullhorn mr-2 text-yellow-400"></i> Marketing Iklan: marketing@loremradio.id</p>
                <p><i class="fa fa-whatsapp mr-2 text-yellow-400"></i> WhatsApp Studio: +62 822-9876-5432</p>
            </div>
        </div>

        <!-- Sponsor & Group -->
        <div class="flex flex-wrap justify-between items-center border-t border-gray-700 pt-6 pb-4">
            <div class="flex items-center space-x-4 mb-4 md:mb-0">
                <img src="assets\image\sponsr.png" alt="Sponsor" class="w-28 h-auto object-contain">
                <img src="assets\image\group.png" alt="Group Perusahaan" class="w-28 h-auto object-contain">
            </div>

            <!-- Social Media -->
           <div class="flex space-x-4 text-2xl">
                <a href="#" class="hover:text-yellow-500"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="hover:text-yellow-500"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#" class="hover:text-yellow-500"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="hover:text-yellow-500"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>
