<!-- SUB FOOTER SECTION -->
<footer class="bg-black text-white font-['Roboto_Condensed'] pt-12">
    <div class="max-w-7xl mx-auto px-4">
        <!-- Logo & Info -->
        <div class="flex flex-col md:flex-row justify-between items-start md:items-center mb-8">
            <div class="flex items-center space-x-4 mb-4 md:mb-0">
                <img src="assets\image\logo.png" alt="Logo Lorem Ipsum Radio" class="w-16 h-16">
                <div>
                    <h4 class="text-xl font-bold">PT. RADIO CEMPAKA ANGKASA</h4>
                    <p class="text-sm leading-tight">Jl. Tentara Pelajar No. 50,<br> belakang, Gg Melati, Sumanding Wetan - Mekarsari - Kota Banjar, 463XX - Indonesia</p>
                </div>
            </div>

           <div class="space-y-2 text-sm">
                <p><i class="fa fa-phone mr-2 text-yellow-400"></i> Office Phone : +62 8231 9885 778</p>
                <p><i class="fa fa-envelope mr-2 text-yellow-400"></i> Email Kerjasama & Acara: rcafmkotabanjar@gmail.com</p>
                <p><i class="fa fa-bullhorn mr-2 text-yellow-400"></i> Marketing Iklan: rca_fm_banjar@yahoo.co.id</p>
                <p><i class="fa-brands fa-whatsapp mr-2 text-yellow-400"></i> Telp Studio: +62 813-1345-8622 (WA) & +62 821-3058-8988 (Telp/SMS)</p>
            </div>
        </div>
        </div>

        <!-- Sponsor & Group -->
        <div class="flex flex-wrap justify-between items-center border-t border-gray-700 pt-6 pb-4">
            <div class="flex items-center space-x-4 mb-4 md:mb-0">
                <img src="assets\image\sponsr.png" alt="Sponsor" class="w-28 h-auto object-contain">
                <img src="assets\image\group.png" alt="Group Perusahaan" class="w-28 h-auto object-contain">
            </div>

            <!-- Social Media -->
           <div class="flex space-x-4 text-2xl">
                <a href="#" class="hover:text-yellow-500"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="hover:text-yellow-500"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#" class="hover:text-yellow-500"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="hover:text-yellow-500"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>

